# MongoDB Atlas Connection
# Reemplaza con tu URI de MongoDB Atlas
MONGODB_URI=mongodb+srv://usuario:contraseña@cluster.mongodb.net/LTSM?retryWrites=true&w=majority

# Next.js Configuration (opcional)
NEXT_TELEMETRY_DISABLED=1
NODE_ENV=production
